replicaCount: 1

ingress:
  enabled: true
  # Use IngressRouteTCP for Traefik TLS passthrough
  useTraefik: true
  annotations: {}

service:
  annotations: {}

certificate:
  issuerName: letsencrypt-staging
  issuerKind: ClusterIssuer

db:
  # TODO: setup network policy to ensure access to PGO namespace
  host: pgo-pgbouncer.pgo.svc

# Syncs database credentials from PGO using External-Secrets Kubernetes provider
pgoSecretSync:
  enabled: true
  refreshInterval: "1h"
  sourceNamespace: pgo
  secretName: pgo-pguser-keycloak
  serviceAccountName: keycloak-pgo-reader
