{{- if .Values.realmImport.enabled }}
{{- $existingClientSecrets := lookup "v1" "Secret" .Release.Namespace "keycloak-client-secrets" }}
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-client-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
data:
  {{- if $existingClientSecrets }}
  argocd-client-secret: {{ index $existingClientSecrets.data "argocd-client-secret" }}
  {{- else }}
  argocd-client-secret: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
---
{{- $existingUserPasswords := lookup "v1" "Secret" .Release.Namespace "keycloak-user-passwords" }}
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-user-passwords
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
data:
  {{- if $existingUserPasswords }}
  admin-password: {{ index $existingUserPasswords.data "admin-password" }}
  developer-password: {{ index $existingUserPasswords.data "developer-password" }}
  {{- else }}
  admin-password: {{ randAlphaNum 16 | b64enc | quote }}
  developer-password: {{ randAlphaNum 16 | b64enc | quote }}
  {{- end }}
{{- end }}
