cert-manager:
  installCRDs: true
  featureGates: "ExperimentalGatewayAPISupport=true"
  prometheus:
    enabled: false

externalSecret:
  enabled: true
  refreshInterval: "1h"
  secretStore:
    name: infisical
    kind: ClusterSecretStore
  infisicalSecretKey: cloudflare-api-token

clusterIssuer:
  enabled: true
  name: letsencrypt-prod
  email: ""
  server: https://acme-v02.api.letsencrypt.org/directory
  privateKeySecretRef: letsencrypt-prod-account-key
  dns01:
    provider: cloudflare
    cloudflare:
      email: ""
      apiTokenSecretRef:
        name: cloudflare-api-token
        key: api-token

certificate:
  enabled: true
  name: ""
  namespace: traefik
  secretName: ""
  dnsNames: []
